@charset "utf-8";




/* 
    A website detailing the reasearch on social networking
    Author: Brenden Riley
    Date: 9.28.18
*/

body>h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

a#home {
    margin-left: 3%;
    padding: 10px 8.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

a#history {
    padding: 10px 8.5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a#modern {
    padding: 10px 8.5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a#impact {
    padding: 10px 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

aside#left {
    padding-bottom: 28%;
    ;
    float: left;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
    font-size: 1.3em;
}

aside#right {
    padding-bottom: 1000px;
    float: right;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;

}

article#historyarticle {
    padding-bottom: 27.7%;
}

article#modernarticle {
    padding-bottom: 14%;
}

article {
    padding-bottom: 43%;
    padding-top: 10px;
}

article>div>h1 {
    text-align: center;
    font-size: 1.6em;
}

div#article {
    padding-left: 20%;
    padding-right: 20%;
}

img#img1 {
    width: 100%;
}

img#facebook {
    width: 100%;
}

img#twitter {
    width: 100%;
}

img#google {
    width: 100%;
}

img#listimage {
    width: 10%;
}

footer {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

footer>ul>li {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0%;
}