@charset "utf-8";




/* 
    A website detailing the reasearch on social networking
    Author: Brenden Riley
    Date: 9.28.18
*/
/* the css instructs the title at the top to be offset, and be in the center */
body>h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* the bar will be offset, and have a border */
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/* the links have their borders, and are roughly balanced from the sides */
a#home {
    margin-left: 3%;
    padding: 10px 8.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

a#history {
    padding: 10px 8.5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a#modern {
    padding: 10px 8.5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a#impact {
    padding: 10px 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* the asides are about equal, have border, larger font sizes, and go on their associative sides */
aside#left {
    padding-bottom: 21.5%;
    float: left;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
    font-size: 1.3em;
}

aside#right {
    padding-bottom: 57.65%;
    float: right;
    border-top: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    width: 15%;
    font-size: 1.3em;
}

/* the article goes down a fair ammount */
article {
    padding-bottom: 43%;
    padding-top: 10px;
}

article>div>h1 {
    text-align: center;
    font-size: 1.6em;
}

div#article {
    padding-left: 20%;
    padding-right: 20%;
}

/* the images will be in most of their sides */
img#img1 {
    width: 100%;
}

img#facebook {
    width: 100%;
}

img#twitter {
    width: 100%;
}

img#google {
    width: 100%;
}

img#listimage {
    width: 10%;
}

/* the footer contains citations and has paddings */
footer {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

/* each of the articles need their own paddings so the footing lines up */
article#indexarticle {
    padding-bottom: 36.61%;
}

article#historyarticle {
    padding-bottom: 21.5%;
}

article#modernarticle {
    padding-bottom: 4.3%;
}

article#impactarticle {
    padding-bottom: 40%;
}

ol.list {
    letter-spacing: .4em;
}

div#noimage {
    letter-spacing: .1em;
}