@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Mali');
/* 
    A website detailing the reasearch on social networking
    Author: Brenden Riley
    Date: 9.28.18
*/

body>h1 {
    font-size: 3.5em;
    font-family: oswald;
    letter-spacing: .4em;
}

nav {
    background-color: rgb(118, 118, 133);
    letter-spacing: .08em;
}

nav>a {
    text-decoration: none;
}

aside#left h1 {
    font-family: mali;
    text-align: center;
}

nav>a:link,
nav>a:visited {
    color: white;
}

nav>a:active,
nav>a:hover {
    background-color: rgb(85, 85, 90)
}

html {
    background-color: rgb(122, 164, 228);
}

aside {
    background-color: rgb(118, 118, 133)
}

article {
    background-color: white;
    width: 100%;
}

footer {
    color: white;
    background-color: rgb(75, 76, 77);
}